.user-popover .popover {
  margin-left: 0;
}

.user-popover-info {
  width: 200px;
}

.user-popover-info > div {
  padding-bottom: 6px;
}

.user-popover-info > div:last-child {
  padding-bottom: 0;
}

.update-group {
  height: 24px;
  line-height: 24px;
}
